/* ----- Tipografia e fontes ----- */

h1 {
  font-size: calc(2.0vw + 2.0vh);
}

h2 {
  font-size: calc(1.8vw + 1.8vh);
  line-height: calc(1.8vw + 1.8vh);
  margin: auto 0;
}

h3 {
  margin: auto 0;
  font-weight: 500;
  font-size: calc(1.2vw + 1.2vh);
  line-height: calc(1.3vw + 1.3vh);
}

h4 {
  margin: auto 0;
  font-weight: 500;
  font-size: calc(1vw + 1vh);
  line-height: calc(1.3vw + 1.3vh);
}

/* ----- Div principal ----- */

.main-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
}

.img-cover-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

.img-cover-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
} */

/* ----- Card container ----- */

.card-container {
  background-color: #e0e0e0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  min-width: 15%;
  width: 70%;
}

/* ----- Card header e body ----- */

.panel-header {
  width: 98%;
  height: 42%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 50%;
}

.panel-body {
  margin-top: calc(.5vw + .5vh);
  width: 98%;
  height: 58%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
}

.super-box-container {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: .5rem;
  padding-right: .5rem;
}

.avatar-wrapper {
  width: 20%;
  min-width: 15%;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.avatar-wrapper img {
  position: relative;
  width: 95%;
  height: auto;
  border-radius: 50%;
  margin: 0;
}

.box-container1 {
  display: flex;
  width: 100%;
  min-width: 50%;
  height: 50%;
}

.box-container2 {
  display: flex;
  width: 100%;
  height: 50%;
  min-width: 50%;
  margin-top: calc(1vw + 1vh);
}


.box2 {
  height: auto;
  width: 80%;
  display: flex;
  flex-direction: row;  
  justify-items: center;
  line-height: 2rem;
}

.box2 fa-icon {
  display: flex;
  align-content: center;
  align-items: center;
  font-size: calc(2vw + 2vh);
  margin-right: 1vw;
}

.sub-box2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sub-box2 h2 {
  /* line-height: 1rem; */
  word-wrap: break-word;
}

.sub-box34 {
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.box3 {
  /* width: 20%; */
  line-height: 3rem;
  display: flex;
  flex-direction: row;
}

.box3 fa-icon {
  display: flex;
  align-content: center;
  align-items: center;
  font-size: calc(1.5vw + 1.5vh);
  margin-right: .5vw;
}

.box4 {
  /* width: 20%; */
  line-height: 3rem;
  display: flex;
  flex-direction: row;
}

.box4 fa-icon {
  display: flex;
  align-content: center;
  align-items: center;
  font-size: calc(1.5vw + 1.5vh);
  margin-right: .5vw;
}


.box5 {
  height: auto;
  width: 40%;
  display: flex;
  flex-direction: row;
  vertical-align: middle !important;
  justify-items: center;
  line-height: 2rem;
}

.box6 {
  height: 100%;
  width: 60%;
  display: flex;
  line-height: 1rem;
  word-break: break-all;
}

.box5 fa-icon {
  margin-right: 1vw;
  font-size: calc(1.3vw + 1.3vh);
  width: calc(2vw + 2vh);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box6 fa-icon {
  margin-right: 1vw;
  font-size: calc(1.3vw + 1.3vh);
  width: calc(2vw + 2vh);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.panel-text {
  /* display: flex;
    align-items: center;
    align-content: center; */
  margin-top: 1rem;
}

.panel-repositorios {
  /* height: 10rem; */
  /* overflow-y: auto; */
  /* height: 20rem; */
  overflow: auto;
  width: 100%;
  /* display: flex;
    justify-content: center;
    align-items: center; */
}

.panel-repositorios mat-table {
  overflow: auto;
  /* position: relative; */
  width: 100%;
  margin: 0;
  /* width: 100%;    
    overflow-y: scroll;
    max-height: 8rem; */
}

/* .mat-table{
    overflow: auto;
    max-height: 8rem;
} */
.mat-cell,
.mat-header-cell {
  padding: 0px 3px 0px 3px;
  height: auto;
  word-break: break-all;
}

.mat-column-name {
  word-wrap: break-word;
  min-width: 3.5rem;
  /* width: 15%; */
  flex: 0 0 20%;
  overflow-wrap: break-word;
  white-space: unset;
  /* word-break: break-all; */
}

.mat-column-description {
  min-width: 7rem;
  word-wrap: break-word;
  /* min-width: 10rem; */
  /* width: 40%; */
  flex: 0 0 50%;
  overflow-wrap: break-word;
  white-space: unset;
  /* word-break: break-all; */
}

.mat-column-stargazers_count {
  /* min-width: 30%; */
  word-wrap: break-word;
  /* width: 15%; */
  min-width: 4rem;
  /* flex: 0 0 15%; */
  overflow-wrap: break-word;
  white-space: unset;
  /* word-break: break-all; */
}

.mat-column-language {
  min-width: 4rem;
  /* min-width: 2.5rem; */
  word-wrap: break-word;
  /* width: 15%; */
  /* flex: 0 0 15%; */
  overflow-wrap: break-word;
  white-space: unset;
  /* word-break: break-all; */
}

.mat-column-svn_url {
  min-width: 2.6rem;
}

.link-button {
  /* position: relative; */
  box-shadow: none !important;
  width: 2rem;
  height: 2rem;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  transition: background-color 1s;
}

.link-button:hover {
  transition: color 1s;
  background-color: #9c9c9c;
  ;
}

.link-button fa-icon {
  color: #555555;
}
