/* header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
}

.img-cover-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

.img-cover-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
} */

.main-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.panel-header {
  margin-top: calc(1vw + 1vh);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  border-radius: 50%;
}



.img-wrapper {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
}

.img-wrapper img {
  margin: 0;
  position: relative;
  background-color: white;
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.panel-body {
  margin-top: calc(1vw + 1vh);
  width: calc(30vw + 30vh);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container-body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-search-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}


.search-form-field {
  width: 95%;
  font-size: calc(1.2vw + 1.2vh);  

}

.search-button-wrapper {  
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button {
  width: calc(3vw + 3vh);
  height: calc(3vw + 3vh);
  background-color: #222222;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 2s;
}

.search-button:hover {
  transition: color 1s;
  background-color: #777777;
  transition: background-color 1s;
}

.search-button fa-icon {
  width: calc(3vw + 3vh);
  height: calc(3vw + 3vh);
  color: white;
}
