
<div class="main-div">

  <!-- ##### Header + Imagem ##### -->
  <div class="panel-header">
      <div class="img-wrapper">
        <img src="./assets/images/github.png" alt="" />
      </div>
  </div>

  <div class="panel-body">

    <!-- ##### Card Body ##### -->  
    <mat-card class="card-container-body">

      <!-- ##### Container do form ##### -->  
      <div class="form-search-container">
        
        <!-- ##### Wrapper barra de pesquisa ##### -->  
        <div class="search-form-wrapper">
          <mat-form-field class="search-form-field">
            <mat-label>Usuário</mat-label>
            <input (keyup)="onKey($event)" (keyup.enter)="enterPress('/usuario')" matInput>
          </mat-form-field>
        </div>

        <!-- ##### Wrapper botão ##### -->  
        <div class="search-button-wrapper">
          <button class="search-button" (click)="enterPress('/usuario')" mat-fab>
            <fa-icon [icon]="faPesquisa"></fa-icon>
          </button>
        </div>
        
      </div>
    </mat-card>
  </div>

</div>

<router-outlet></router-outlet>
