.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
  }
  
  .img-cover-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .img-cover-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
  }